.metadata
RemoteSystemsTempFiles/

#ionic
superheroschool-ionic/node_modules/
superheroschool-ionic/platforms/
superheroschool-ionic/plugins/
superheroschool-ionic/bower_components/

#web
.DS_Store
.history
.tern-project
/.idea
/*.iml
/.classpath
/.project
/.settings
superheroschool-web/public/
superheroschool-web/node_modules/
superheroschool-web/bower_components/
