.row.title_row
  div
    h1.title_pg1.text-center
      | SUPERHERO
      br
      | SCHOOL
.row.start_row
  div
   .start_container
     h2.start.text-center
       a(href='#/training-modes')
         span
           | START 
           br
           | TRAINING