.title_row.tr_modes
  h1.title_pg2.text-center
    | PUNCH!
.container.text-center
  .back
    a(ui-sref="training-modes")
      | BACK
.row.gauge-row
  .col-xs-4
    ul.hero-list.text-center
      li
        img(src='img/superman.png')
      li
        img(src='img/batman.png')
      li
        img(src='img/lantern.png')
  .col-xs-6
    #punch-gauge
     #fill
       p#punchVal 80
  .col-xs-4
    ul.hero-list.text-center
      li
        img(src='img/hulk.png')
      li
        img(src='img/wolverine.png')
      li
        img(src='img/cap.png')
        
.testRow.text-center.row
  button#test.btn.btn-lg Test
  
script(type='text/javascript').
  $(document).ready(function(){
  $('#test').click(function(){
  | var num = Math.floor(Math.random() * (100 - 0 + 1)) + 0;
  $('#punchVal').text(num);
  $('#fill').height(100-num + '%');
  }); 
  });
