h1.text-center
  | PUNCH!
.row
  .col-xs-3
    ul.hero-list.text-center
      li
        img.img-responsive(src='img/superman.png')
      li
        img.img-responsive(src='img/batman.png')
      li
        img.img-responsive(src='img/lantern.png')
  .col-xs-6
    #punch-gauge
  .col-xs-3
    ul.hero-list.text-center
      li
        img.img-responsive(src='img/hulk2.png')
      li
        img.img-responsive(src='img/thing.png')
      li
        img.img-responsive(src='img/capAmer.png')