.title_row.tr_modes
  h1.title_pg2.text-center
    | TRAINING MODES
.tr-mode-container
  ul.list-group.tr-mode-list
    li.text-center
      a.btn.punch-btn.text-center(href='#/punch-training')
        | SUPERHERO PUNCH {{val}}