.row.text-center
  h1.title SUPERHERO SCHOOL
.row.battle-row.text-center
  .col-md-2.col-md-offset-2.player-1
    h3#1.bam BAM !
    img#p1.img-responsive(src='img/10.png')
  .col-md-4.text-center
    h1.title VS.
  .col-md-4.player-2
    h3#2.kapow KAPOW !
    img#p2.img-responsive(src='img/5.png')